*~
bin
obj
*.zip
[Dd]ebug-buildlog*.txt
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
~*
**/[Oo]utput/*
**/[Pp]ackage[Oo]utput/*
**/[Pp]ublish[Oo]utput/*
[Ll]ogs/*
*.pyc
packages/
[Nn]u[Gg]et.exe
*.GhostDoc.xml
bower_components/
Release.msproj
[Nn]uget[Pp]ackages/*
**/.vs/
*.nupkg
**/.vscode/
launchSettings.json
**/TestResults/*
**/node_modules

output


*.tgz